@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: $backgroundColor;
    padding: 30px 24px 0;
    @media only screen and (min-width: 768px) {
        padding: 140px 95px 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 375px;
        margin-bottom: 35px;
        @media only screen and (min-width: 768px) {
            max-width: 575px;
        }
        @media only screen and (min-width: 1024px) {
            max-width: 730px;
        }
        h1 {
            font-size: 26px;
        }
        .theme {
            &:hover {
                cursor: $cursor;
            }

            .light-setting {
                &::after {
                    margin-left: 16px;
                    margin-top: 5px;
                }
                display: none;
            }
            .dark-setting {
                &::after {
                    content: url(../assets/icon-moon.svg);
                    margin-left: 16px;
                    margin-top: 5px;
                }
                &:hover {
                    &::after {
                        content: url(../assets/icon-moon.svg);
                        filter: invert(71%) brightness(32%);
                    }
                }

                display: flex;
            }
            p {
                align-items: center;
                font-weight: bold;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                color: #697c9a;

                &:hover {
                    color: #222731;
                }
            }
        }
    }
    main {
        margin: 0 auto;
        max-width: 375px;
        @media only screen and (min-width: 768px) {
            max-width: 575px;
        }
        @media only screen and (min-width: 1024px) {
            max-width: 730px;
        }
        form {
            position: relative;
            box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.19);
            margin-bottom: 16px;
            @media only screen and (min-width: 1024px) {
                margin-bottom: 24px;
            }
            input {
                height: 60px;
                border-radius: 15px;
                padding: 18px 98px 17px 45px;
                width: 100%;
                max-width: 375px;
                font-size: 14px;
                color: $inputColor;
                border: none;
                outline: none;
                cursor: $cursor;
                @media only screen and (min-width: 768px) {
                    max-width: 575px;
                    height: 69px;
                    padding: 22px 125px 22px 80px;
                    font-size: 18px;
                }
                @media only screen and (min-width: 1024px) {
                    max-width: 730px;
                }
            }
            input::placeholder {
                font-size: 12px;
                color: $placeholder;
                @media only screen and (min-width: 768px) {
                    font-size: 18px;
                }
            }
            span {
                position: absolute;
                color: red;
                font-size: 14px;
                font-weight: bold;
                left: 120px;
                bottom: -20px;
                display: block;
                @media only screen and (min-width: 768px) {
                    margin-left: 107px;
                }
                @media only screen and (min-width: 1024px) {
                    left: auto;
                    right: 140px;
                    bottom: 24px;
                }
            }
            .hidden {
                display: none;
            }
            img {
                position: absolute;
                left: 16px;
                top: 20px;
                @media only screen and (min-width: 768px) {
                    position: absolute;
                    left: 32px;
                    top: 23px;
                }
            }
            button {
                position: absolute;
                right: 7px;
                top: 6.5px;

                height: 46px;
                width: 84px;
                background-color: $button;
                border-radius: 10px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                border: none;
                @media only screen and (min-width: 768px) {
                    top: 9.5px;
                    height: 50px;
                    width: 106px;
                }
            }
            button:hover {
                background-color: $buttonhover;
                cursor: $cursor;
            }
        }
        .container {
            background-color: white;
            padding: 32px 24px;
            border-radius: 15px;
            box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.19);
            @media only screen and (min-width: 768px) {
                padding: 40px;
            }
            @media only screen and (min-width: 1024px) {
                padding: 48px;
                display: flex;
                flex-direction: column;
            }
            .content {
                display: flex;
                gap: 19px;
                margin-bottom: 33px;
                @media only screen and (min-width: 768px) {
                    gap: 41px;
                    margin-bottom: 24px;
                    align-items: center;
                }
                @media only screen and (min-width: 1024px) {
                    align-items: flex-start;
                    margin-bottom: -25px;
                }
                .profilePicture {
                    img {
                        border-radius: 50%;
                        width: 70px;
                        @media only screen and (min-width: 768px) {
                            width: 117px;
                        }
                    }
                }
                .userInfo {
                    @media only screen and (min-width: 1024px) {
                        display: flex;
                        justify-content: space-between;
                        width: fill-available;
                    }
                    .top {
                        h2 {
                            font-size: 16px;
                            @media only screen and (min-width: 768px) {
                                font-size: 26px;
                            }
                        }
                        h3 {
                            font-size: 13px;
                            color: $h3Color;
                            @media only screen and (min-width: 768px) {
                                font-size: 16px;
                            }
                        }
                    }
                    p {
                        font-size: 13px;
                        color: $pJoinedColor;
                        margin-top: 5px;
                        @media only screen and (min-width: 768px) {
                            font-size: 15px;
                        }
                    }
                }
            }
            .bio {
                line-height: 25px;
                @media only screen and (min-width: 768px) {
                    width: 480px;
                }
                @media only screen and (min-width: 1024px) {
                    align-self: flex-end;
                }
                p {
                    color: $pBiocolor;

                    font-size: 13px;
                    margin-bottom: 23px;
                    @media only screen and (min-width: 768px) {
                        font-size: 15px;
                        margin-bottom: 32px;
                    }
                }
            }
            .stats {
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                background-color: $divStats;
                padding: 18px 30px;

                @media only screen and (min-width: 768px) {
                    display: flex;
                    justify-content: flex-start;
                    padding: 15px 32px;
                    width: 480px;
                }
                @media only screen and (min-width: 1024px) {
                    align-self: flex-end;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;
                    @media only screen and (min-width: 768px) {
                        margin-right: 58px;
                        align-items: flex-start;
                        font-size: 22px;
                    }
                    h4 {
                        margin-bottom: 8px;
                        font-weight: 400;
                        color: $h4Color;
                        font-size: 11px;
                        line-height: 20px;
                        @media only screen and (min-width: 768px) {
                            font-size: 13px;
                            margin: 0;
                        }
                    }
                }
            }
            .social {
                display: flex;
                flex-direction: column;
                gap: 18px;
                margin-top: 24px;
                .links {
                    &:hover {
                        cursor: $cursor;
                    }
                }
                #cite,
                #tw,
                #firm {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                @media only screen and (min-width: 768px) {
                    width: 480px;
                    margin-top: 30px;
                    display: grid;
                    grid-template-areas:
                        'location twitter'
                        'website company';
                    .location {
                        grid-area: location;
                    }

                    .twitter {
                        grid-area: twitter;
                    }
                    .website {
                        grid-area: website;
                    }

                    .company {
                        grid-area: company;
                    }
                }
                @media only screen and (min-width: 1024px) {
                    align-self: flex-end;
                }
                .link {
                    display: flex;
                    div {
                        width: 20px;
                        margin-right: 10px;
                    }
                    .links {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    footer {
        margin: 160px auto;
    }
    a {
        text-decoration: none;
        color: #4b6a9b;
    }
}

.dark {
    background-color: $darkTheme;
    h1 {
        color: white;
    }
    .theme {
        p {
            color: white;
            &:hover {
                color: #90a4d4;
            }
        }
        .dark-setting {
            display: none;
        }
        .light-setting {
            display: flex;
            &::after {
                content: url(../assets/icon-sun.svg);
            }
            &:hover {
                &::after {
                    content: url(../assets/icon-sun.svg);
                    filter: invert(38%) sepia(43%) saturate(481%)
                        hue-rotate(191deg) contrast(78%);
                }
            }
        }
    }
    form {
        box-shadow: none;
        input {
            background-color: $inputDark;
            color: white;
        }
        input::placeholder {
            color: white;
        }
    }
    .container {
        background-color: $box;
        box-shadow: none;
        color: white;
        .userInfo {
            h2 {
                color: white;
            }
            #joined {
                color: white;
                opacity: 0.9;
            }
        }
        .bio {
            p {
                color: white;
                opacity: 0.9;
            }
        }
        .stats {
            background-color: $darkTheme;
            h4 {
                color: white;
            }
        }
    }
    .links {
        color: white;
    }
}
