$inputColor: #2b3442;
$placeholder: #4b6a9b;
$button: #0079ff;
$buttonhover: #60abff;
$h3Color: #0079ff;
$pJoinedColor: #697c9a;
$pBiocolor: #4b6a9b;
$h4Color: #4b6a9b;
$divStats: #f6f8ff;
$darkTheme: rgb(20, 29, 47);
$inputDark: #1e2a47;
$box: #1e2a47;
$backgroundColor: #f6f8ff;
$cursor: url('/assets/pointer.png'), pointer;
